<%= render partial: "users/tabbed" %>

<h5>
  <%= @user.username %>'s following
</h5>

<ul class="list-group list-group-flush">
  <% @user.leaders.each do |leader| %>
    <li class="list-group-item">
      <%= link_to leader.username, user_path(leader.username) %>
    </li>
  <% end %>
</ul>
